    {% extends "layout.html" %}
    
    {% block content %}
    <h1>Course Offerings</h1>

    <!--  Display the Term and Year here --->
    <h3>Term: Spring 2019</h3>

    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Course ID</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Credits</th>
                <th scope="col">Term</th>
                <th scope="col">Enroll</th>
            </tr>
            </thead>
            
            <tbody>
            {% for courses in courseData %}
            <tr>
                <td scope='row'>{{ courses["courseID"]}}</td>
                <td>{{ courses["title"]}}</td>
                <td>{{ courses["description"]}}</td>
                <td>{{courses["credits"]}}</td>
                <td>{{courses["term"]}}</td>
                <td>
                    <button>Enroll</button>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}